extends layout
include navbar.pug

block content
  +navbar('configure')

  form(action="." method="POST")
    div(class="form-group")
      p Configure the fields below and then click the Save button.

    div.form-group
      label(for="blynkToken") Enter Your Blynk Token
      input(
        type="text"
        id="blynkToken"
        name="blynkToken"
        value=blynkToken
        class="form-control"
      )

    div.form-group
      label(for="cardSelect") Select Sound Card
      select(class="form-control" id="cardSelect" name="cardSelect")
        - var selectedCardIndex = selectedCardId - 1;
        each card, index in cards
          if index == selectedCardIndex
            option(selected="selected")= card
          else 
            option= card

    input(class="btn btn-primary" type="submit" value="Save")

  script.
    var config = document.getElementById('configureMenu');
    if (config != null) config.classList.add("active");

