extends layout

block content
  form(action="." method="POST")
    div(class="form-group")
      h1="Welcome to the Raspberry Jam Configurator"

    div.form-group
      label(for="blynkToken") Enter Your Blynk Token
      input(
        type="text"
        id="blynkToken"
        name="blynkToken"
        value=blynkToken
        class="form-control"
      )

    div.form-group
      label(for="dropdown") Select Sound Card
      a.dropdown-toggle( href="#", data-toggle="dropdown", role="button", aria-expanded="false" ) Dropdown 
        span.caret
      ul.dropdown-menu( role="menu" )
        li: a( href="#" ) Action
        li: a( href="#" ) Another action
        li: a( href="#" ) Something else here

    input(class="btn btn-primary" type="submit" value="Submit")

