extends layout

block content
  form(action="." method="POST")
    div(class="form-group")
      h1="Welcome to the Raspberry Jam Configurator"

    div(class="form-group")
      label(for="blynkToken") Enter Your Blynk Token
      input(
        type="text"
        id="blynkToken"
        name="blynkToken"
        value=blynkToken
        class="form-control"
      )

    div(class="form-group")
      label(for="soundcard") Select A Sound Card
      input(
        type="button"
        id="soundCardButton"
        name="blynkToken"
        value=blynkToken
        class="btn btn-secondary dropdown-toggle"
	data-toggle="dropdown"
	aria-haspopup="true" 
	aria-expanded="false"
      )
      div(class="dropdown-menu" aria-labelledby="soundCardButton")
        a(class="dropdown-item" href="#") Action
        a(class="dropdown-item" href="#") Another action
        a(class="dropdown-item" href="#") Something else here

    input(class="btn btn-primary" type="submit" value="Submit")

